<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit New Opportunity</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <header class="dashboard-header">
        <div class="header-left">
            <img src="/static/logo.png" alt="Logo" class="logo">
            <h1>Opportunity Submission</h1>
        </div>
        <nav class="dashboard-nav">
            <a href="/home" class="nav-link">Submit Opportunities</a>
            <a href="/view" class="nav-link">View Opportunities</a>
            <a href="/logout" class="logout-btn">Logout</a>
        </nav>
    </header>

    <div class="container">
        <!-- Success Message -->
  
        <h2>Oppurtunity submitted Successfully</h2>
       
</body>
</html>
